$primary-text-color: #ffffff;
$brand-color: #531ec6;
$background-color: #211e1e;

.movie-view {
	margin: 2.5rem;
}

.movie-poster {
	text-align: center;
}

#movie__img {
	max-height: 500px;
	max-width: 100%;
	box-shadow: 0px 0px 15px rgb(182, 182, 182, 0.5);
}

.movie-title {
	margin-top: 1rem;
}

#back__button {
	margin-top: 1rem;
}

.label {
	color: $primary-text-color;
}

.movie-title {
	color: $primary-text-color;
}

.movie-description {
	color: $primary-text-color;
	margin-top: 0.5rem;
}

#back__button, #favourite__button {
	text-decoration: none;
	color: rgb(255, 255, 255);
	justify-content: center;
	vertical-align: baseline;
	&:hover {
		background-color: $brand-color;
		border: 1px solid $brand-color;
	}
	&:active {
		background-color: #211e1e !important;
	}
}

.btn-right {
	margin-left: 10px;
}
